<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/chessboard-1.0.0.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/chessboard-1.0.0.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/chess.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/chessServer.js') }}"></script>
</head>
<body>
    <h1>Chess Project</h1>
    <div id ="myBoard" style="width:400px"></div>
</body>
</html>